*{
    padding: 0;
    margin: 0;
}

canvas{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 2px solid black;
}


#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 100vh;
}

#startGameBtn{
    position: absolute;
    z-index: 2;
}