*{
    padding: 0;
    margin: 0;
}

canvas{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border: 2px solid black;
}

body{
    display: block;
}

#menu {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	margin: auto; 
	width:800px;
	height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

#gameOverMenu {
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px; 
	margin: auto; 
	width:800px;
	height:600px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

}

.scoreDiv{
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 50px;
}

.score {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    color: black;
    margin-bottom: 10px;
    font-family: 'Sigmar', cursive;
    font-size: 20px;
}

#scoreTitle{
    font-family: 'Sigmar', cursive;
    font-size: 25px;
}

.buttons{
    font-family : 'Sigmar', cursive;
    width: 280px;
    height: 50px;
    border: 2px solid black;
    background-color: pink;
    transition: 150ms;
    margin-bottom: 15px;
    font-size: 20px;
}

.buttons:hover{
    width: 320px;
    border-radius: 15px;
    background-color: white;
    cursor: pointer;
    font-size: 30px;
}

